.modalButton {
    background-color: rgb(64, 7, 66);
    border: none;
    padding: 8px 24px;
}

.modalButton:hover {
    background-color: rgb(116, 26, 119);
}

.modalForm {
    display: inline-flex;
}

.inputsModalForm {
    display: flex;
    flex-direction: column;
    margin-right: 56px;
}

.nameModal {
    margin-bottom: 16px;
}

.imageModalForm {
    display: flex;
    flex-direction: column;
}

.imageModal {
    margin-top: 16px;
    height: 198px;
    width: 320px;
}