.modalButton {
    background-color: rgb(64, 7, 66);
    border: none;
    padding: 8px 24px;
}

.modalButton:hover {
    background-color: rgb(116, 26, 119);
}

.modalForm {
    display: inline-flex;
}

.inputsModalForm {
    display: flex;
    flex-direction: column;
    margin-right: 56px;
}

.errorProduct {
    position: relative;
    top: -30vh;
    right: 18vw;
    padding: 20px 30px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    background-color: rgba(247, 1, 1, 0.644);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.nameModal {
    margin-bottom: 16px;
}

.imageModalForm {
    display: flex;
    flex-direction: column;
}

.pdfModal {
    margin-top: 16px;
    width: 260px;
    height: 60px;
    padding: 10px 20px;
    border-color: brown;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.imageModal {
    margin-top: 16px;
    height: 198px;
    width: 320px;
}